In [1]:
!python --version

Python 3.9.1

### 파이썬 기본 문법

- 변수 선언, 식별자, 자료형, 형변화 연산자 학습

In [2]:
#### 1. 주석(Comment)과 출력(print)

In [3]:
# 주석 : 앞에 #을 붙이면 코드로 실행이 안됩니다. 
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용한다. 
# 단축키 : cmd + /
# 블럭 설정 : shift + 방향키

In [5]:
# 출력 : print 함수
# 코드 중간에 변수에 들어있는 값을 확인하고 싶을 때 사용
# %whos 이렇게도 가능.

In [6]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
2

In [14]:
# print함수의 옵션
# docstring : 함수에 대한 설명, 단축키 shif+tab
# 자동완성 단축키 : tab
# 반드시 docstring 확인하면서 사용하자
print(1, 2, sep="-", end="\t")
print(3)

1-2	3

#### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위
- a = 1이라고 입력을 하면, a라는 저장공간에 1이 입력되는 것. 
- a=1, b=2, c= a+b라고 하면
    - 얘네들은 컴퓨터에서 어떻게 자원을 활용할까? <br> a = 1을 하면, 램 이라는 저장공간에 a라는 공간을 만들고 1을 저장한다. <br> b = 2를 하면, 램이라는 저장공간에 b라는 공간을 만들고 2을 저장한다. <br> a+b를 하면, cpu에서 a와 b를 가져와서 3을 연산한다.

In [16]:
# 변수는 여러가지 방식으로 생성 가능하다. 
a = 1
d, e = 3, 4
f = g = 5 # 5가 f와 g에 둘다 들어간다.

#### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자 라고 합니다. 
- 식별자 규칙
    - 소문자, 대문자, 숫자, _를 사용한다. 
    - 가장 앞에 숫자 사용 불가 
    - 예약어(def, class, try, 등) 사용 불가
    - 컨벤션 
        - snake case : fast_campus(변수선언, 함수선언에 사용)
        - camel case : FastCampus(클래스 선언에 사용)

#### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑 : 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정된다. 
    - 자동으로 저장공간이 해당 데이터타입으로 설정된다. 
    - 자바 등은 int a = 1 이렇게 써야 함. 
- 데이터타입이 없다면, 저장공간을 다 똑같이 할당해야 함. 너무 비효율적. 
- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [19]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [24]:
# 기본 데이터 타입 int, float, bool, str
a = 1
b = 1.2
c = True # False
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [27]:
# 데이터 타입에 함수 : 문자열 
# uppse : 대문자로 변환
e = d.upper()

In [28]:
f = "Fast Campus"
#lower : 소문자로 변환
f.lower()

'fast campus'

In [29]:
# strip: 공백제거
f.strip()

'Fast Campus'

In [31]:
# replace : 특정 문자열 치환
f.replace("Fast", "slow")

'slow Campus'

In [32]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [33]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 있는 문자들의 집합

In [34]:
g= "abcdefg"

In [36]:
g[2], g[-2]

('c', 'f')

In [38]:
g[2:5] # 2, 3, 4가 나온다.

'cde'

In [39]:
g[:2]

'ab'

In [40]:
g[3:]

'defg'

In [41]:
g[-2:]

'fg'

In [43]:
g[::2] # 2칸씩 점프
g[::3] # 3칸씩 점프
g[::-1] # 역순

'gfedcba'

In [45]:
g[1:5:2] # 1부터 5사이 2칸씩 점프

'bd'

In [51]:
numbers = "123456789" # 97531 출력하려면?
numbers[::-2]

'97531'

#### 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서가 있는 수정이 가능한 데이터 타입
- tuple () : 순서가 있는 수정이 불가능한 데이터 타입
- dict {} : 순서가 없고, 키:값으로 구성되어 있는 데이터 타입

In [53]:
# list, 모든 데이터 타입이 들어갈 수 있음. 
ls = [1, 2, 3, "four", True, 1.2]

In [55]:
# 순서가 있기 떄문에 offset index 사용 가능
ls[3], ls[::-1]

('four', [1.2, True, 'four', 3, 2, 1])

In [77]:
# list 함수
ls = [1, 5, 2, 4]

In [78]:
# append : 가장 뒤에 값을 추가 
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [79]:
# sort: 오름 차순으로 정렬
ls.sort()
ls
ls[::-1] #내림차순 정렬

[5, 4, 3, 2, 1]

In [80]:
# pop : 가장 마지막 데이터를 출력하고, 출력한 데이터를 삭제 해주는 함수ㄴ
num = ls.pop()
num, ls

(5, [1, 2, 3, 4])

In [81]:
# 리스트의 복사

In [83]:
ls1 = [1, 2, 3]
ls2 = ls1 # 얕은 복사 : 주솟값 복사
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [87]:
ls1[2] = 5
ls1, ls2

([1, 2, 5], [1, 2, 5])

파이썬에서는 모든 변수가 다 주솟값을 들고 있음. 리스트를 안에 넣으면 주솟값이 복사 되기때문에 하나가 해당 주소에 있는 리스트의 내부 특정 값을 바꾸면 다른 하나도 당연히 바뀔 수 밖에 없음. 
주솟값 복사(얕은 복사)가 된 것
> https://wikidocs.net/16038 참고할 것

In [90]:
ls3 = ls1.copy()
id(ls1), id(ls3)

(140524424183560, 140524441953928)

In [93]:
ls1[2] = 10 
ls1, ls3

([1, 2, 10], [1, 2, 5])

#### Tuple (): 리스트와 같지만 수정이 불가능한 데이터 타입. () 괄호로 생성하지만, 생략도 가능함. 
- 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용한다. 속도도 빠르다.

In [99]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2)

(tuple, tuple)

In [103]:
# offset index 사용
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [105]:
# 리스트와 튜플의 저장공간 차이 비교
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

88 72

#### dict{}
- 순서가 없고, {키:값}으로 구성되어 있는 데이터 타입
- 키 값은 정수, 문자열만 가능하다.

In [106]:
# 인덱스 대신 키를 사용한다. 
dic = {
    1:"one",
    "two": 2,
    "three": [1, 2, 3],
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [107]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [109]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [ ]:
#아래 데이터를 리스트와 딕셔너리로 표현해보기
# 도시 :seoul, busan, daegu 
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [112]:
city = ['seoul', 'busan', 'daegu'] 
population = [9700000, 3400000, 2400000]

In [115]:
data = {
    "seoul": 9700000, 
    'busan': 3400000, 
    'daegu':2400000}

In [119]:
sum(data.values())

15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [120]:
a = 1
b = "2"

In [121]:
a+int(b)

3

In [122]:
str(a) + b

'12'

In [125]:
type(data.values())
list(data.values())

[9700000, 3400000, 2400000]

In [128]:
# zip은 같은 인덱스끼리 묶어주는 함수
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [130]:
result = dict(list(zip(city, population)))

In [131]:
result.keys()

dict_keys(['seoul', 'busan', 'daegu'])

In [132]:
result.values()

dict_values([9700000, 3400000, 2400000])

### 6. 연산자 
- 산술연산자 : +, -, *, /, //(몫), %(나머지), **(제곱)
- 할당연산자 : 변수에 누적시켜서 연산 : += , //=, *= 
- 비교연산자 : <, >, ==, !=, <=, >= : 결과로 True or False
- 논리연산자 : True, False를 연산 : or, and, not
- 멤버연산자 : 특정 데이터가 있는지확인할 때 사용 : not in, in

In [133]:
# 산술연산자
1+4/2**2

2.0

In [ ]:
# 비교연산자
a = 10
a = a+10
a += 10

In [135]:
# 비교연산자
b = 3
a > b, a == b, a != b

(False, False, True)

In [136]:
# 논리연산자
True and False, True or False, True and True, not True

(False, True, True, False)

In [137]:
# 멤버 연산
ls = ["jin", "andy", "jhon"]
"andy" in ls, "anchel" in ls, "john" not in ls

(True, False, True)

### 랜덤함수

In [148]:
import random

random.randint(1, 10)

6

In [150]:
# 입력함수
data = input("insert string :")
data

insert string :Hi

'Hi'

In [151]:
# 해결의 책 : 질문을 하면 질문에 대한 답을 해주는 책

In [ ]:
# 솔루션을 리스트로 작성
# 질문 입력 받음.
# 솔루션의 갯수에 맞게 랜덤한 INDEx 정수 값을 생성
# index에 해당하는 솔루션 리스트의 데이터를 출력

In [154]:
solutions = [
    "무엇을 하던 잘 안될 것이다.", 
    "생각지도 않게 좋은 일이 생긴다.",
    "무엇을 상상하던 그 이상이다."
]

# 질문 입력받는다. 
input("질문을 입력하세요")


# 솔루션의 갯수에 맞게 랜덤한 INDEx 정수 값을 생성
solutions[random.randint(0, len(solutions) -1 )]

질문을 입력하세요a

'생각지도 않게 좋은 일이 생긴다.'

### 1. 조건문 
- 특정 조건에 따라서 코드를 실행하고자 할때 사용
- if, else, elif 
- 조건부분에 bool 데이터 타입 이외의 데이터 타입이 오면 bool으로 형변환되어 판단된다. 
    - int : 0을 제외한 나머지 값은 True
    - float : 0.0을 제외한 나머지 실수 True
    - String : ""을 제외한 나머지 문자열 True
    - list, tuple, dict : [], {}, () 를 제외한 나머지 True

In [155]:
if True:
    print("Python")
print("done")

Python
done

In [158]:
# 지갑에 돈이 10000원 이상 있으면 택시를 타고 그렇지 않으면 걸어서 집에 갑니다.
money = 12000

In [159]:
if money >= 10000:
    print("택시를 타고 집에 갑니다")

if money < 10000:
    print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다

In [ ]:
if money >= 10000:
    print("택시를 타고 집에 갑니다")
else:
    print("걸어서 집에 갑니다.")

In [160]:
# 지갑에 돈이 10000원 이상 있으면 택시를 타고 2000원 이상이 있으면 버스를 탄다.

In [161]:
if money >= 10000:
    print("택시를 타고 집에 갑니다")
elif money >= 5000:
    print("버스를 탑니다")
else:
    print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다

In [162]:
# 계좌에 10000원이 들어 있습니다. 
# 인출 금액을 입력 받습니다. 
# 인출 금액이 계좌에 있는 금액보다 크면, "인출이 불가능 합니다." 출력
# 인출 금액이 계좌에 있는 금액보다 작으면, "인출 되었습니다" 출력
# 마지막에 현재 계좌의 잔액을 출력

In [164]:
withdrawal = int(input("인출 금액을 입력하세요"))
if withdrawal > 10000:
    print("인출이 불가능 합니다")
else:
    print("인출되었습니다")
print("잔액", 10000-withdrawal)

인출 금액을 입력하세요5000
인출되었습니다
잔액 5000

In [165]:
# string 데이터 타입 format 함수
account = 5000

In [167]:
print("현재 잔액은 {}원 입니다".format(account))

현재 잔액은 5000원 입니다

### 삼항 연산자 
- 간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법. 
- (True) if (condition) else (False)

In [169]:
# data 변수에 0 이면 "Zero" 아니면 "Not Zero"를 출력

In [170]:
data = 0
if data:
    print("Not Zero")
else: 
    print("Zero")

Zero

In [171]:
print("Not Zero" if data else "Zero")

Zero

### 2. 반복문
- 반복되는 코드를 실행할 때 사용
- while, for, break, continue
- list comprehension

In [ ]:
# 무한루프 빠지지 않게 조심할 것 
# result = 1
# while result:
#     result += 1
# print(result)

In [173]:
data = 3
while data: # 조건이 False가 될때 까지 구문의 코드를 실행한다.
    print(data)
    data -= 1

3
2
1

In [174]:
# 어떤 학생이 국어 : 80점, 영어 : 90점, 수학 : 100점 
# while을 이용해서, 총점과 평균을 출력해 주세요. 
# 학생의 점수는 list, dict로 표현을 해서 표현. 
# len, dict.values(), list.pop

In [178]:
score = [80, 90, 100]
subjects = len(score)
total = 0
while score:
    total += score.pop()

print("총점은 {}, 평균은 {} 입니다.".format(total, total/subjects))

총점은 270, 평균은 90.0 입니다.

In [182]:
subjects_ls = ['korean', 'english', 'math']
points_ls = [80, 90, 100]
points_dict = {"korea": 80, 'english':90, 'math': 100}

In [183]:
datas = points_ls.copy()

In [184]:
total, avg = 0, 0
while datas:
    total += datas.pop()
avg = total/len(points_ls)    
total, avg

(270, 90.0)

In [ ]:
# break : 반복문을 중단 시킬 때 사용되는 예약어

In [186]:
result = 1
while result:
    result += 1
    if result >= 10:
        break
print(result)

10

### for
- iterable한 값을 하나씩 꺼내서 value에 대입시킨 후 코드를 iterable변수의 값 갯수 만큼 실행
```
for <varisble> in iterables>:
    <code>
```

#### continue: 조건부분으로 올라가서 코드가 실행된다
- 밑 부분을 실행하지 않는다.

In [195]:
# for를 이용하여 코드를 100번 실행 시키려면?
# range 함수
# list(range(100))
for data in range(100):
    result += data
result

4960

In [197]:
# offset index 개념과 비슷하게 사용
list(range(5)), list(range(5, 10)), list(range(0, 10, 2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [0, 2, 4, 6, 8])

In [199]:
# 0~10까지 짝수를 더한 총 합
result = 0
for number in range(0, 11, 2):
    result += number
number

10

In [209]:
points_dict = {"korea": 80, 'english':90, 'math': 100}
for data in points_dict :
    print(data)

korea
english
math

In [ ]:
# for 문에서 iterable 데이터가 tuple로 나오면, 여러개의 변수로 받을 수 있다.

In [208]:
# zip으로 그대로 넣어도 되고, 한번 돌때마다 3개짜리 튜플이 들어오면 3개 변수도 받을 수 있다. 
for a, b in points_dict.items():
    print(a, b)

korea 80
english 90
math 100

In [210]:
ls = [0, 1, 2, 3]
for data in ls:
    if data % 2: # 데이터가 홀수이면 continue 실행
        continue
    print(data, end=" ") # 데이터가 짝수이면 print를 실행

0 2

##### 구구단 출력해보기 (가로 출력)
- 2*1=2 3*1=3 ... 9*1=9
- print : end="\t"
- string : format 함수 이용

In [225]:
for i in range(1, 10):
    for j in range(1, 10):
        print("{}*{}={}".format(i, j, i*j), end="\t")
    print()

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

#### 3. List Comprehension
- 리스트 데이터를 만들어 주는 방법
- for문보다 빠르게 동작한다.

In [227]:
ls = [0, 1, 2, 3]
result = []
for data in ls:
    result.append(data**2)
result

[0, 1, 4, 9]

In [230]:
result = [data**2 for data in ls]
result

[0, 1, 4, 9]

In [234]:
# 리스트 컴프리헨션을 써서 홀수와 짝수를 리스트로 출력해주는 코드
ls =[0, 1, 2, 3]
result = [
    "홀수" if i%2 else "짝수"
    for i in ls
]
result

['짝수', '홀수', '짝수', '홀수']

In [236]:
# 리스트컴프리헨션 조건문 filtering
ls = range(10)
[i for i in ls  if i%2]

[1, 3, 5, 7, 9]

In [240]:
[func for func in dir(ls) if func[:2] != "__"]

['count', 'index', 'start', 'step', 'stop']

In [241]:
[func for func in dir(ls) if func[0] == "c"]

['count']

In [242]:
# 실제로 List comprehension은 for문의 2/3정도의 시간이 듬

In [243]:
# for문과 List comprehension 성능 비교

In [248]:
%%timeit
ls1 =[]
for num in range(1, 10001):
    if num % 3 ==0:
        ls1.append(num)

815 µs ± 62.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [249]:
%%timeit
ls2 =[i for i in range(1, 10001) if i%3 ==0]

654 µs ± 31.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)