### Pandas Pivot
- 데이터 프레임의 컬럼 데이터에서 index, column, value를 선택해서 원하는 데이터 프레임을 만드는 방법
- 만드는 방법
    - `df.pivot(index, columns, values)` : groupby를 하고 Pivo을 실행(index와 column이 중복되면 안되기 때문)
    - `df.pivot_table(values, index, columns, aggfunc)`

#### pandas io
- 데이터프레임을 저장, 로드

In [3]:
titanic = pd.read_csv("data/train.csv")
titanic.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [4]:
# Save
titanic.to_csv("data/test.csv")

In [6]:
titanic.to_csv("data/test2.tsv", sep="\t", index=False, encoding="UTF-8")

#### 인코딩이란
우리가 어떤 문자를 쓸때, 컴퓨터가 0001, 0002 이렇게 저장하는 규칙이 인코딩
- 그 방식이 여러가지 인 것
- 인코딩 방식에 따라서 이진수로 변환되는 방법이 달라지는 것
- ascii : 보통 영문이나 특수문자(한글, 중국어 다 불가)
- euc-kr : 영문 한글 특수문자 정도(ascii + 한글)
- utf-8 : 모든 나라 언어 다 표현 가능한 인코딩 방식
- 파이썬2는 기본이 ascii, 파이썬3는 utf-8

In [8]:
# load : encoding
df = pd.read_csv("data/2014_p.csv") # Unicode Decode Error, 한글의 인코딩 때문

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xba in position 144: invalid start byte

In [11]:
df = pd.read_csv("data/2014_p.csv", encoding = "euc-kr")
df.head()

,ID,RCTRCK,RACE_DE,RACE_NO,PARTCPT_NO,RANK,RCHOSE_NM,HRSMN,RCORD,ARVL_DFFRNC,EACH_SCTN_PASAGE_RANK,A_WIN_SYTM_EXPECT_ALOT,WIN_STA_EXPECT_ALOT
0,1,부경,2014-01-03,12,6,8.0,프리마돈,설동복,0:02:07.5,머리,8 - 7 - 4 - 5 - 5 - 4 - 4,16.9,4.7
1,2,부경,2014-01-03,8,2,8.0,중앙최강,이성재,0:01:39.1,½,11 - - 11 - 11 - 12 - 10 - 8,30.2,5.1
2,3,부경,2014-01-03,8,1,11.0,맹호소리,김태경,0:01:42.3,5,10 - - 10 - 10 - 11 - 11 - 11,99.8,9.1
3,4,부경,2014-01-03,5,9,1.0,스마트에너지,후지이,0:01:02.0,NaN,8 - - - - 8 - 7 - 2,3.3,1.3
4,5,부경,2014-01-03,4,3,3.0,금포스카이,유현명,0:01:25.5,4,4 - - 3 - 7 - 7 - 4 - 4,3.4,1.2

#### Kaggle
- 데이터 분석, 모델을 경쟁할 수 있도록 만든 서비스