### install ubuntu
- sudo apt-get install mysql-server libmysqlclient-dev
- pip install mysqlclient sqlalchemy
- 서버 접속
    - `ssh -i ~/.ssh/dss.pem ubuntu@<퍼블릭주소>`

In [1]:
import MySQLdb

In [3]:
db = MySQLdb.connect(
    "13.125.153.195", # database server public ip
    "root",           # user
    "dss",            # password
    "world",          # database name
)
db

In [5]:
# 쿼리 작성
QUERY = """
    SHOW TABLES;
"""

In [6]:
# 쿼리 실행
curs = db.cursor()
curs.execute(QUERY)

6

In [7]:
# 결과 출력
rows = curs.fetchall()
rows

(('addr',),
 ('city',),
 ('code_name',),
 ('country',),
 ('countrylanguage',),
 ('user',))

In [8]:
# 데이터 프레임으로 가져오기
import pandas as pd

In [9]:
QUERY = """
    SELECT *
    FROM country
"""

In [10]:
df = pd.read_sql(QUERY, db)
df.tail(2)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW