### SQLAlchemy

- Python에서 사용하는 ORM
- ORM : Object Relational Mapping
- 데이터베이스의 테이블, row등을 object로 맵핑해서 사용하게 해주는 것
    - 데이터베이스를 객체화 시켜서 데이터 베이스에 있는 데이터를 CRUD 할 수 있다.
    - 쿼리 대신 함수 형태로 CRUD를 할 수가 있다. 
    - 사용하는 데이터베이스를 변경하는 경우, 엔진만 바꿔주면 된다. 
    - 예를들어, MySQL에서 Postgresql로 가는 경우에 다른걸 할 필요가 없음. 어차피 우리는 객체로 받아서 함수로만 쏴주는 것. 
    - 심지어 SQL을 몰라도, 파이썬 함수만 알면 사용 가능. 회사에서는 파이썬 사용할때는 대부분SQLAlchemy로 사용함. 
    
- 설치 : pip install sqlalchemy

In [1]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
# 데이터베이스 연결 
# test database에 접속
#engine = create_engine("mysql://root:<mysql_password>@54.179.203.15/test")
# engine = create_engine("mysql://root:#######@54.179.203.15/test")

In [3]:
# 테이블 객체 생성을 위한 클래스 작성
# 지금 새로 생성중
# 없으면 새로 생김. 그런데, 이미 있는데 이렇게 새로 정의했는데 심지어 스키마가 틀리면 에러남. 정확히 써줘야함. 
Base = declarative_base()

class User(Base):
    __tablename__ = "user" # 테이블 이름
    
    # 컬럼 데이터 작성
    user_id = Column(Integer, primary_key = True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    # 생성자 함수
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    # repr 함수
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(self.name, self.email, self.age, self.rdate)
# 객체를 insert해주면, 자동으로 row가 하나씩 생기는 것

In [4]:
# engine에 연결된 데이터베이스 test에 테이블 생성
Base.metadata.create_all(engine)

In [5]:
# 데이터베이스에 session 연결 x`
# 데이터베이스의 접속정보가 들어있어서, 그 내부 함수를 이용해서 CRUD를 하는 것. 
Session = sessionmaker(engine)
session = Session()
session # 이거로 연결해서 CRUD, 이 session이 db와 연결된 것.

In [22]:
# INSERT
# 객체를 만들어서 넣어 주는 것
user = User("Son", "saanghyuk@gmail.co", 27, "2016-03-21")
user

In [23]:
# 세션 객체에 데이터 저장된다. 
session.add(user)

In [8]:
# run transaction
session.commit()

MongoDB는 Transaction 지원하지 않음. RDBMS가 지원함.

In [10]:
dir(session)

['_Session__binds',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_add_bind',
 '_after_attach',
 '_autobegin',
 '_autoflush',
 '_before_attach',
 '_bulk_save_mappings',
 '_close_impl',
 '_conditional_expire',
 '_connection_for_bind',
 '_contains_state',
 '_delete_impl',
 '_deleted',
 '_dirty_states',
 '_expire_state',
 '_expunge_states',
 '_flush',
 '_flush_warning',
 '_flushing',
 '_get_impl',
 '_identity_lookup',
 '_is_clean',
 '_legacy_transaction',
 '_maker_context_manager',
 '_merge',
 '_nested_transaction',
 '_new',
 '_query_cls',
 '_register_altered',
 '_register_persistent',
 '_remove_newly_deleted',
 '_save_impl',
 '_save_or_update_impl',
 '_save_or_update_state',
 '_trans_context_manager',
 '_transaction',
 '_update_impl',
 '_validate_persistent',
 '_warn_on_events',
 'add',
 'add_all',
 'autocommit',
 'autoflush',
 'begin',
 'begin_nested',
 'bind',
 'bind_mapper',
 'bind_table',
 'bulk_insert_mappings',
 'bulk_save_objects',
 'bulk_update_mappings',
 'close',
 'close_all',
 'commit',
 'connection',
 'connection_callable',
 'delete',
 'deleted',
 'dirty',
 'dispatch',
 'enable_baked_queries',
 'enable_relationship_loading',
 'execute',
 'expire',
 'expire_all',
 'expire_on_commit',
 'expunge',
 'expunge_all',
 'flush',
 'future',
 'get',
 'get_bind',
 'get_nested_transaction',
 'get_transaction',
 'hash_key',
 'identity_key',
 'identity_map',
 'in_nested_transaction',
 'in_transaction',
 'info',
 'invalidate',
 'is_active',
 'is_modified',
 'merge',
 'new',
 'no_autoflush',
 'object_session',
 'prepare',
 'query',
 'refresh',
 'rollback',
 'scalar',
 'transaction',
 'twophase']

### 여러개의 데이터 한번에 넣기

In [19]:
users =[
    User("Alice", "alice@gmail.com", 25, "2018-05-21"),
    User("Andy", "andy@gmail.com", 25, "2015-10-3"),
    User("May", "may@gmail.com", 25, "2012-03-07"),
]

In [20]:
session.add_all(users)

In [24]:
session.commit()

### Rollback 
- 세션에 있는 객체를 초기화
- 이게 무슨말이냐면, 우리가 지금 하는게 session에다가 여러개를 넣고 빼고 한다음에 마지막에 커밋을 딱 하잖아. 
- 그 세션을 초기화 해준다는 것. 즉, 세션에 여러개 add해놔도 롤백하면 그대로 되있다는 것.

In [21]:
session.rollback()

### SELECT

In [25]:
# all 
results = session.query(User).all()
list(results)

[<User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Alice, alice@gmail.com, 25, 2018-05-21 00:00:00>,
 <User Andy, andy@gmail.com, 25, 2015-10-03 00:00:00>,
 <User May, may@gmail.com, 25, 2012-03-07 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>]

In [28]:
# filter : ==, !=, >=, <=, like, in_ 다 사용 가능
results = session.query(User).filter(User.name == "Son")
list(results)

[<User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>]

In [29]:
# like
results = session.query(User).filter(User.email.like("%gmail%"))
list(results)

[<User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Alice, alice@gmail.com, 25, 2018-05-21 00:00:00>,
 <User Andy, andy@gmail.com, 25, 2015-10-03 00:00:00>,
 <User May, may@gmail.com, 25, 2012-03-07 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>]

In [30]:
# in_ (파이썬에서 이미 예약어라서 고쳐주는 것)
results = session.query(User).filter(User.name.in_(["alice", "andy"]))
list(results)

[<User Alice, alice@gmail.com, 25, 2018-05-21 00:00:00>,
 <User Andy, andy@gmail.com, 25, 2015-10-03 00:00:00>]

In [31]:
# filter : or_, and_ 

results = session.query(User).filter(
    or_(User.name =="Son", User.age == 33)
)
list(results)

[<User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>]

In [32]:
results = session.query(User).filter(
    and_(User.name =="Son", User.age == 33)
)
list(results)

[]

### order by

In [34]:
# order by

results = session.query(User).order_by(User.age.asc())
results = session.query(User).order_by(User.age.desc())
list(results)

[<User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Son, saanghyuk@gmail.co, 27, 2016-03-21 00:00:00>,
 <User Alice, alice@gmail.com, 25, 2018-05-21 00:00:00>,
 <User Andy, andy@gmail.com, 25, 2015-10-03 00:00:00>,
 <User May, may@gmail.com, 25, 2012-03-07 00:00:00>]

### Count

In [35]:
# count
session.query(User).count()

9

## Update

In [45]:
data = session.query(User).filter(User.name == "May").one()
data

In [42]:
data.age = 30

In [43]:
session.add(data)

In [44]:
session.commit()

## Delete

In [47]:
session.query(User).filter(User.name =="Son").delete()

6

In [48]:
session.commit()

In [ ]:
# delete table
User.__table__.drop(enginer)

## With Pandas

In [51]:
import seaborn as sns
import pandas as pd

데이터 저장하기

In [52]:
iris_df = sns.load_dataset("iris")
iris_df.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [53]:
iris_df.to_sql(name="iris", con=engine, if_exists = "replace")

### 기존에 존재하던 테이블로 세션 쓰기

In [ ]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, MetaData, Table


engine = create_engine('connectionstringhere')
table1meta = MetaData(engine)
table1 = Table('Table_I_Want_to_Interact', table1meta, autoload=True)
DBSession = sessionmaker(bind=engine)
session = DBSession()
results = session.query(table1).filter(table1.columns.TimeStamp>="2019-02-26 18:00:00.000")
results.all()

데이터 가져오기

In [54]:
engine = create_engine("mysql://root:##########@54.179.203.15/world")

In [55]:
QUERY = """
    SELECT * FROM city
"""
city_df = pd.read_sql(QUERY, engine)
city_df.tail()

        ID        Name CountryCode    District  Population
4074  4075  Khan Yunis         PSE  Khan Yunis      123175
4075  4076      Hebron         PSE      Hebron      119401
4076  4077    Jabaliya         PSE  North Gaza      113901
4077  4078      Nablus         PSE      Nablus      100231
4078  4079       Rafah         PSE       Rafah       92020