In [26]:
import numpy as np

### map, filter, reduce
- 아래의 코드들이 모두 동작되도록 `# TODO`가 있는 셀에 함수를 작성하세요.

##### Quiz 1
- map 함수를 map_func 함수의 이름으로 구현하세요.
- 리스트의 데이터를 아래의 예제와 같이 더하는 함수를 만드는데 따로 함수를 선언해서 사용하지 말고 map의 첫번째 파라미터에 lambda 함수로 구현하세요.

```
ls1 = [1,2,3,4]
ls2 = [5,6,7]
ls3 = [9,10,11,12]

result = [15, 18, 21]
```

In [2]:
ls1 = [1,2,3,4]
ls2 = [5,6,7]
ls3 = [9,10,11,12]

In [24]:
# map 함수 사용
list(map(lambda *args : sum(args), ls1, ls2, ls3))

[15, 18, 21]

In [28]:
np.array([1, 2, 3]) + np.array([1, 3, 5])

array([2, 5, 8])

In [108]:
# TODO
# map_func 이름으로 map 함수를 구현하세요.
def map_func(func, *args):
    return [func(*datas) for datas in zip(*args)]

In [109]:
# map_func 함수 사용
map_func(lambda *args : sum(args), ls1, ls2, ls3)

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

### Quiz 2
- filter 함수를 구현하여 1~10까지 숫자에서 홀수만 출력하는 코드를 작성하세요
```
ls = range(1, 11)
result = [1, 3, 5, 7, 9]
```

In [120]:
ls = range(1, 11)

In [121]:
# filter 함수 사용
list(filter(lambda number: number % 2, ls))

[1, 3, 5, 7, 9]

In [133]:
# TODO
# filter_func 이름으로 filter 함수를 구현하세요.
def filter_func(func, datas):
    return [i  for i in datas if func(i)]

In [134]:
# filter_func 함수 사용
filter_func(lambda number: number % 2, ls)

[1, 3, 5, 7, 9]

### Quiz
- reduce 함수를 구현

```
ls = [1, 2, 3, 4, 5]
def reduce_func():
    #TODO
    
reduce_func(lambda num1, num2: num1 + num2, ls)
result => 15
```

- 힌트

```
ls = [1, 2, 3]
del ls[0]
ls => [2, 3]
```

In [138]:
from functools import reduce

In [182]:
ls = [1, 2, 3, 4, 5]

In [183]:
# reduce 함수 사용
reduce(lambda num1, num2: num1 + num2, ls)

15

In [188]:
# TODO
# reduce_func 이름으로 reduce 함수를 구현하세요.
ls = [1, 2, 3, 4, 5]
def reduce_func(func, ls):
    result = 0
    while ls:
        result = func(result, ls[0])
        del ls[0]
    return result

In [189]:
# reduce_func 함수 사용
reduce_func(lambda num1, num2: num1 + num2, ls)

15

In [190]:
# TODO
# reduce_func 이름으로 reduce 함수를 구현하세요.
ls = [1, 2, 3, 4, 5]
def reduce_func(func, ls):
    result = ls[0]
    del ls[0]
    for data in ls:
        result = func(result, data)
    return result

In [191]:
# reduce_func 함수 사용
reduce_func(lambda num1, num2: num1 + num2, ls)

15

In [192]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!