In [1]:
!python --version

Python 3.9.1

### 파이썬 기본 문법

- 변수 선언, 식별자, 자료형, 형변화 연산자 학습

In [2]:
#### 1. 주석(Comment)과 출력(print)

In [3]:
# 주석 : 앞에 #을 붙이면 코드로 실행이 안됩니다. 
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용한다. 
# 단축키 : cmd + /
# 블럭 설정 : shift + 방향키

In [5]:
# 출력 : print 함수
# 코드 중간에 변수에 들어있는 값을 확인하고 싶을 때 사용
# %whos 이렇게도 가능.

In [6]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
2

In [14]:
# print함수의 옵션
# docstring : 함수에 대한 설명, 단축키 shif+tab
# 자동완성 단축키 : tab
# 반드시 docstring 확인하면서 사용하자
print(1, 2, sep="-", end="\t")
print(3)

1-2	3

#### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위
- a = 1이라고 입력을 하면, a라는 저장공간에 1이 입력되는 것. 
- a=1, b=2, c= a+b라고 하면
    - 얘네들은 컴퓨터에서 어떻게 자원을 활용할까? <br> a = 1을 하면, 램 이라는 저장공간에 a라는 공간을 만들고 1을 저장한다. <br> b = 2를 하면, 램이라는 저장공간에 b라는 공간을 만들고 2을 저장한다. <br> a+b를 하면, cpu에서 a와 b를 가져와서 3을 연산한다.

In [16]:
# 변수는 여러가지 방식으로 생성 가능하다. 
a = 1
d, e = 3, 4
f = g = 5 # 5가 f와 g에 둘다 들어간다.

#### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자 라고 합니다. 
- 식별자 규칙
    - 소문자, 대문자, 숫자, _를 사용한다. 
    - 가장 앞에 숫자 사용 불가 
    - 예약어(def, class, try, 등) 사용 불가
    - 컨벤션 
        - snake case : fast_campus(변수선언, 함수선언에 사용)
        - camel case : FastCampus(클래스 선언에 사용)

#### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑 : 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정된다. 
    - 자동으로 저장공간이 해당 데이터타입으로 설정된다. 
    - 자바 등은 int a = 1 이렇게 써야 함. 
- 데이터타입이 없다면, 저장공간을 다 똑같이 할당해야 함. 너무 비효율적. 
- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [19]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [24]:
# 기본 데이터 타입 int, float, bool, str
a = 1
b = 1.2
c = True # False
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [27]:
# 데이터 타입에 함수 : 문자열 
# uppse : 대문자로 변환
e = d.upper()

In [28]:
f = "Fast Campus"
#lower : 소문자로 변환
f.lower()

'fast campus'

In [29]:
# strip: 공백제거
f.strip()

'Fast Campus'

In [31]:
# replace : 특정 문자열 치환
f.replace("Fast", "slow")

'slow Campus'

In [32]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [33]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 있는 문자들의 집합

In [34]:
g= "abcdefg"

In [36]:
g[2], g[-2]

('c', 'f')

In [38]:
g[2:5] # 2, 3, 4가 나온다.

'cde'

In [39]:
g[:2]

'ab'

In [40]:
g[3:]

'defg'

In [41]:
g[-2:]

'fg'

In [43]:
g[::2] # 2칸씩 점프
g[::3] # 3칸씩 점프
g[::-1] # 역순

'gfedcba'

In [45]:
g[1:5:2] # 1부터 5사이 2칸씩 점프

'bd'

In [51]:
numbers = "123456789" # 97531 출력하려면?
numbers[::-2]

'97531'

#### 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서가 있는 수정이 가능한 데이터 타입
- tuple () : 순서가 있는 수정이 불가능한 데이터 타입
- dict {} : 순서가 없고, 키:값으로 구성되어 있는 데이터 타입

In [53]:
# list, 모든 데이터 타입이 들어갈 수 있음. 
ls = [1, 2, 3, "four", True, 1.2]

In [55]:
# 순서가 있기 떄문에 offset index 사용 가능
ls[3], ls[::-1]

('four', [1.2, True, 'four', 3, 2, 1])

In [77]:
# list 함수
ls = [1, 5, 2, 4]

In [78]:
# append : 가장 뒤에 값을 추가 
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [79]:
# sort: 오름 차순으로 정렬
ls.sort()
ls
ls[::-1] #내림차순 정렬

[5, 4, 3, 2, 1]

In [80]:
# pop : 가장 마지막 데이터를 출력하고, 출력한 데이터를 삭제 해주는 함수ㄴ
num = ls.pop()
num, ls

(5, [1, 2, 3, 4])

In [81]:
# 리스트의 복사

In [83]:
ls1 = [1, 2, 3]
ls2 = ls1 # 얕은 복사 : 주솟값 복사
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [87]:
ls1[2] = 5
ls1, ls2

([1, 2, 5], [1, 2, 5])

파이썬에서는 모든 변수가 다 주솟값을 들고 있음. 리스트를 안에 넣으면 주솟값이 복사 되기때문에 하나가 해당 주소에 있는 리스트의 내부 특정 값을 바꾸면 다른 하나도 당연히 바뀔 수 밖에 없음. 
주솟값 복사(얕은 복사)가 된 것
> https://wikidocs.net/16038 참고할 것

In [90]:
ls3 = ls1.copy()
id(ls1), id(ls3)

(140524424183560, 140524441953928)

In [93]:
ls1[2] = 10 
ls1, ls3

([1, 2, 10], [1, 2, 5])

#### Tuple (): 리스트와 같지만 수정이 불가능한 데이터 타입. () 괄호로 생성하지만, 생략도 가능함. 
- 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용한다. 속도도 빠르다.

In [99]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2)

(tuple, tuple)

In [103]:
# offset index 사용
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [105]:
# 리스트와 튜플의 저장공간 차이 비교
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

88 72

#### dict{}
- 순서가 없고, {키:값}으로 구성되어 있는 데이터 타입
- 키 값은 정수, 문자열만 가능하다.

In [106]:
# 인덱스 대신 키를 사용한다. 
dic = {
    1:"one",
    "two": 2,
    "three": [1, 2, 3],
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [107]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [109]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [ ]:
#아래 데이터를 리스트와 딕셔너리로 표현해보기
# 도시 :seoul, busan, daegu 
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [112]:
city = ['seoul', 'busan', 'daegu'] 
population = [9700000, 3400000, 2400000]

In [115]:
data = {
    "seoul": 9700000, 
    'busan': 3400000, 
    'daegu':2400000}

In [119]:
sum(data.values())

15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [120]:
a = 1
b = "2"

In [121]:
a+int(b)

3

In [122]:
str(a) + b

'12'

In [125]:
type(data.values())
list(data.values())

[9700000, 3400000, 2400000]

In [128]:
# zip은 같은 인덱스끼리 묶어주는 함수
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [130]:
result = dict(list(zip(city, population)))

In [131]:
result.keys()

dict_keys(['seoul', 'busan', 'daegu'])

In [132]:
result.values()

dict_values([9700000, 3400000, 2400000])